<% content_for :title, 'Films' %>
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="<%= asset_path('bg4.jpg') %>">
  <div class="container inner pt-120 pb-120 text-center">
    <h1 class="heading mb-0">Films</h1>
  </div>
</div>
<div class="wrapper light-wrapper">
  <div class="container inner">
    <% if @videos.length > 0 %>
      <div class="tabs-wrapper filtered">
        <iframe src='<%= @videos.first.video_embed_url %>' class="video-film-responsive" frameborder='0' allowfullscreen width="1132" height="500"></iframe>
        <div class="space10"></div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab1-1">
            <div data-aos="fade">
              <div class="tiles">
                <div class="items row">
                  <% @videos.drop(1).each do |video| %>
                    <div class="item col-lg-6 col-sm-12">
                      <iframe src='<%= video.video_embed_url %>' class="video-film-responsive" frameborder='0' allowfullscreen width="550" height="312"></iframe>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p class="text-center">Video is not uploaded at this time.</p>
    <% end %>
  </div>
</div>