<h2>CONTACT from <%= @contact_message.name %></h2>

<p>
	Email : <%= @contact_message.email %> <br>
	Phone : <%= @contact_message.phone %><br>
	<b>Message :- </b><br>
	<p>
		<%= @contact_message.message %>
	</p>

</p>