<table width="600" align="center" bgcolor="#fff" cellpadding="5" cellspacing="5">
  <tr>
    <td align="center" >
      <A href="http://www.afterclix.com"><img src="https://s3.ap-south-1.amazonaws.com/afterclix/shared_photos/afterclix.png"></A>
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px;">Dear Admin,
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      One of your Customer has submitted selected photos on <%= Time.current.strftime("%I:%M:%S %p") %>. The album name was <%= @album.album_name %>
    </td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
      Total photos: <%= @total_photos %>
    </td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px; height:30px; background:#ecf8ff;">
      Selected photos: <%= @selected_photos %>
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td style="font-family:Helvetica; font-size:16px;">
      Thanks for choosing AfterClix.<br>
      AfterClix Team
    </td>
  </tr>
  <tr>
    <td align="center" style="font-family:Helvetica; font-size:16px; height:30px; background:#ccc;">
      <A href="http://www.afterclix.com" style="color:#ed174f;">www.afterclix.com</A><br>
    </td>
  </tr>
</table>