<p>Dear Admin, </p>

<p>One of your Customer has submitted selected photos on <%= Time.current.strftime("%I:%M:%S %p") %>. The album name was <%= @album.album_name %> </p>

<p>Total photos: <%= @total_photos %></p>
<p>Selected photos: <%= @selected_photos %></p>