.cbp-filter-item, .cbp-filter-item a{
  color: #888;
}
.cbp-filter-item.cbp-filter-item-active, .cbp-filter-item:hover, .cbp-filter-item-active a{
  color: #4c86e5;
}
/*.back_link{
  margin-left: 10px;
}*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
}
.flickr_pagination .disabled {
  color: #aaaaaa;
}
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}
.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #0063dc;
  text-decoration: none;
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063dc;
  color: white;
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}
.flickr_pagination .previous_page {
  margin-right: 1em;
}
.flickr_pagination .next_page {
  margin-left: 1em;
}
.left-arrow-icon{
  margin-right: 5px;
}
.navbar-nav .nav-link{
  color: rgba(255,255,255,0.75) !important;
}
.navbar-nav .nav-item .active{
  color: #4c86e5 !important;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 335px;
}
.sticky-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 335px;
  line-height: 60px;
}
#album-container{
  width:100%;
}
#left{
  float:left;
}
#right{
  float:right;
}
#center{
  margin:0 auto;
  text-align: center;
}
.hamburger:before, .hamburger span, .hamburger:after{
  background-color: #ffffff !important;
}

.login-wrap {
  /*background: image-url('login-bg.png') !important;*/
  background-image: url('login-bg.png');
  background-size: cover;
  height: 100%;
}
.login-form {
  background-color: #f5f5f5;
  -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, .15);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, .15);
  padding: 40px 0;
  display: block;
  float: none;
  position: absolute!important;
  right: 0px;
  top: -40px;
  left: 0px;
  bottom: 0px;
  max-height: max-content;
  margin: auto;
  border-radius: 20px;
}

.page-inner-wrap{
  padding-top: 94px;
  padding-bottom: 50px;
}

.login-details-block {
  display: block;
  margin: 0 auto;
  float: none;
}

.custom-addon{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  color: #fd6257;
}

.login-btn {
  position: absolute;
  bottom: -20px;
  left: calc(45% - 45px);
  min-width: 140px;
  text-align: center;
  min-height: 40px;
  padding: 5px;
}
.login-btn:hover,
.login-btn:focus {
  color: #fff;
  background-color: #feb547 !important;
  border-color: #feb547 !important;
}
.arrow-icon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.btn-orange{
  border-radius: 20px !important;
  background: #f9a11d !important;
  color: #fff !important;
  border: 0 !important;
}
.login-control {
  border-radius: 0px;
  box-shadow: none;
  background-color: #efefef;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  color: #777;
  max-height: 40px;
  margin-bottom: 25px;
  position: relative;
  padding-right: 35px;
}
.login-control:hover,
.login-control:focus {
  background-color: #e1e1e1;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-color: #b1b1b1;
  box-shadow: 0 0 2px 1px rgb(167,167,167)
}
.text-red{
  color: red;
}
.login-footer {
  width: 100%;
  color: #fff;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  text-align: center;
}