<p>Dear Client,</p>
<p>Please check your photos by clicking on the View Album link. </p>
<p><%= link_to "View Album", ENV['FRONT_URL'] + "shared_album/" + @album.slug + "?token=" + @album_recipient.contact.token %></p>
<p> <%= @album_recipient.custom_message %> </p>
<p>Thanks,</p>
<p>Admin Team</p>