<div class="login-footer">
	<div class="container">
		<div class="row">
			<div class="copyright col-sm-12 col-xs-12">© Copyright 2018 - AfterClix , All rights reserved</div>
		</div>
	</div>
</div>

<style type="text/css">
.login-footer {
	width: 100%;
  color: #fff;
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  text-align: center;
}
</style>