<div class="login-footer">
	<div class="container">
		<div class="row">
			<div class="copyright col-sm-12 col-xs-12">© Copyright <%= Time.current.year %> - AfterClix , All rights reserved</div>
		</div>
	</div>
</div>
